fastapi==0.104.1
uvicorn==0.24.0
pydantic
nltk==3.8.1
python-multipart==0.0.6
pdfplumber==0.10.3
spacy==3.7.2
sentence-transformers==2.7.0
PyMuPDF==1.24.0
PyPDF2==3.0.1
language-tool-python==2.8
dateparser==1.2.0
transformers==4.55.1
huggingface_hub==0.34.4
torch==2.3.1  # Latest stable for Python 3.12, CPU
accelerate==0.33.0
bitsandbytes==0.44.1
numpy==1.26.4  # Satisfies accelerate, thinc
fsspec==2024.6.1  # Satisfies datasets
datasets==3.3.2